@{
    ViewBag.Title = "Principal";
}
<div>
  <img src="~/Images/advertise_here.png" />
  <br />
</div>

<hgroup class="title">
    <h1>@ViewBag.Message</h1>
</hgroup>

<article>
    <p>
        El portal es un espacio publicitario e informativo exclusivo para empresas proveedoras de servicios, materiales y equipos y todos los insumos de la construcción de la vivienda.
    </p>

    <p>
        Nuestro objetivo es facilitar a la industria la localización de los productos necesarios para la construcción de vivienda con información detallada e impulsar alianzas entre proveedores, fabricantes y distribuidores generando sinergias de mercado.
    </p>

    <p>
        Así mismo acercar al cliente final de una manera confiable y directa con los proveedores y distribuidores. Y generar un mejor servicio en el mercado de los productos de la construcción.
    </p>
</article>
<div>
  <table>
    <tr>
        <td>
            <img width="257" height="120" src="~/Images/home.jpg" />
        </td>
        <td>
            <img width="257" height="120" src="~/Images/home.jpg" />
        </td>
        <td>
            <img width="257" height="120" src="~/Images/home.jpg" />
        </td>
    </tr>
</table>
</div>